<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>khedemak</id>
      <username>khedemak</username>
      <password>ngqppcozdoxhu2tmeasap5twlsecv2e3ha6opcdjp54uxjcfttyq</password>
    </server>
  </servers>
</settings>

